
@model IEnumerable<GameStoreDB1.Accessory>

<table class="table">
    <tr>
        <td>
            <h4>Item Discription</h4>
        </td>
        <td>
            <h4>Type</h4>
        </td>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
       
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Discription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccType1.Name)
                </td>

                <td>
                   
                    <input name="@item.AccId" type="button" Value="Remove From Cart" onclick="RemoveAccFromCart(this)" />
                </td>
            </tr>
        
    }

</table>
