<div style="margin:20px;">
    <label>First Name:</label>
    <input class="form-control text-box single-line" id="firstName" type="text" />
    <label>Last Name:</label>
    <input class="form-control text-box single-line" id="lastName" type="text" />
    <label>Eamil:</label>
    <input class="form-control text-box single-line" id="email" type="text" />
    <input type="button" value="Checkout" onclick="Checkout()"/>

</div>