
@{
    ViewBag.Title = "Accessories";
}
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-sm-4 col-md-3 col-lg-2 bg-main" style="padding-top:4%; padding-bottom:12%;">
            <h4>Search Filters</h4>
            <div class="row sides">
                <h5>Game Title</h5>
                <div class="col-12">
                    <input class="form-control text-box single-line" id="gameInput" type="text" onkeyup="GameDisplay()" />
                </div>
            </div>
            <div class="row sides">
                <h5>Systems </h5><span class="glyphicon glyphicon-menu-down" style="float:right;"></span>
                <div id="systems" class="col-12">

                </div>
            </div>
        </div>
        <div class="col-sm-8 col-md-9 col-lg-10">
            <h2>Accessories</h2>
            <div class="row">
                <div class="col-10-offset-1" id="tblAccessoriesG">
                    @Html.Action("_Accessories")
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">


