
@{
    ViewBag.Title = "Accessories";
}
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-sm-4 col-md-3 col-lg-2 bg-main" style="padding-top:4%; padding-bottom:12%;">
            <h4>Search Filters</h4>
            <div class="row sides">
                <h5>Game Title</h5>
                <div class="col-12">
                    <input class="form-control text-box single-line" id="gameInput" type="text" onkeyup="GameDisplay()" />
                </div>
            </div>
            <div class="row sides">
                <div class="btn-block" onclick="ShowSystems()">
                    <h5>Systems </h5><span id="system-icon" class="glyphicon glyphicon-menu-down" style="float:right;"></span>
                </div>
                <div id="systems" class="col-12">

                </div>
            </div>
            <div class="row sides">
                <div class="btn-block" onclick="ShowModels()">
                    <h5>Models </h5><span id="model-icon" class="glyphicon glyphicon-menu-down" style="float:right;"></span>

                </div>
                <div id="modelChk" class="col-12">

                </div>
            </div>
            
        </div>
            <div class="col-sm-8 col-md-9 col-lg-10">
                <h2>Accessories</h2>
                <div class="row">
                    <div class="col-10-offset-1" id="tblAccessoriesG">
                        @Html.Action("_Accessories")
                    </div>
                </div>
            </div>
        </div>
}
<script type="text/javascript">
    function AccDisplay() {
        $.ajax({
            type: "POST"
            , url: "AccDisplay"
            , contentType: 'application/json;'
            , data: JSON.stringify({ sysSelect: uncheckedSystems, modSelect: uncheckedModels })
            , success: function (result) {
                $("#tblAccessoriesG").html(result);
            }

        });
    }

    var uncheckedSystems = [];

    function SelectSystem(x) {


        if (uncheckedSystems.length > 0) {
            for (var i = 0; i < uncheckedSystems.length; i++) {
                if (uncheckedSystems[i] == x.value) {

                    uncheckedSystems.splice(i, 1);

                }

            }
        }
        console.log(uncheckedSystems);

        if (!$(x).prop('checked')) {

            uncheckedSystems.push(x.value);

        }

        //show consoles function
        AccDisplay();
    }

    
    var uncheckedModels = [];

    function SelectModels(x) {


        if (uncheckedModels.length > 0) {
            for (var i = 0; i < uncheckedModels.length; i++) {
                if (uncheckedModels[i] == x.value) {

                    uncheckedModels.splice(i, 1);

                }

            }
        }
        console.log(uncheckedModels);

        if (!$(x).prop('checked')) {

            uncheckedModels.push(x.value);

        }

        //show consoles function
        AccDisplay();
    }
    function ShowSystems() {
        if ($('#system-icon').hasClass("glyphicon-menu-down")) {
            $.ajax({
                type: "POST"
                , url: "Systems"
                , contentType: 'application/json;'
                , data: JSON.stringify({ selected: uncheckedSystems })
                , success: function (result) {
                    $("#systems").html(result);
                }

            });
            $('#system-icon').removeClass("glyphicon-menu-down");
            $('#system-icon').addClass("glyphicon-menu-up");
        }
        else if ($('#system-icon').hasClass("glyphicon-menu-up")) {
            $("#systems").html("");
            $('#system-icon').removeClass("glyphicon-menu-up");
            $('#system-icon').addClass("glyphicon-menu-down");
        }
    }

    

    function ShowModels() {
        if ($('#model-icon').hasClass("glyphicon-menu-down")) {
            $.ajax({
                type: "POST"
                , url: "ShowModel"
                , contentType: 'application/json;'
                , data: JSON.stringify({ selected: uncheckedModels, sysSelect: uncheckedSystems })
                , success: function (result) {
                    $("#modelChk").html(result);
                }
            });
            $('#model-icon').removeClass("glyphicon-menu-down");
            $('#model-icon').addClass("glyphicon-menu-up");
        }
        else if ($('#model-icon').hasClass("glyphicon-menu-up")) {
            $("#modelChk").html("");
            $('#model-icon').removeClass("glyphicon-menu-up");
            $('#model-icon').addClass("glyphicon-menu-down");
        }
    }
    </script>
