
@{
    ViewBag.Title = "Games";
}
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-sm-4 col-md-3 col-lg-2 bg-main" style="padding-top:4%; padding-bottom:12%;">
            <h4>Search Filters</h4>
            <div class="row sides">
                <h5>Game Title</h5>
                <div class="col-12">
                    <input class="form-control text-box single-line" id="gameInput" type="text" onkeyup="GameDisplay()" />
                </div>
            </div>
            <div class="row sides">
                 <div class="btn-block" onclick="ShowSystems()">
                    <h5>Systems </h5><span id="system-icon" class="glyphicon glyphicon-menu-down" style="float:right;"></span></div>
                    <div id="systems" class="col-12">

                    </div>
                </div>
            </div>
        <div class="col-sm-8 col-md-9 col-lg-10">
            <h2>Games</h2>
            <div class="row">
                <div class="col-10-offset-1" id="tblGamesG">
                    @Html.Action("_Games")
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">

    var uncheckedSystems = [];

    function SelectSystem(x) {
        
        
        if (uncheckedSystems.length > 0) {
            for (var i = 0; i < uncheckedSystems.length; i++) {
                if (uncheckedSystems[i] == x.value) {

                    uncheckedSystems.splice(i, 1);
                        
                    }

                }
            }
        console.log(uncheckedSystems);
        
        if (!$(x).prop('checked')) {
  
            uncheckedSystems.push(x.value);

            }
        
        GameDisplay();
    }
    function ShowSystems() {
        if ($('#system-icon').hasClass("glyphicon-menu-down")) {
            $.ajax({
                type: "POST"
                , url: "Systems"
                , contentType: 'application/json;'
                , data: JSON.stringify({ selected: uncheckedSystems })
                , success: function (result) {
                    $("#systems").html(result);
                }

            });
            $('#system-icon').removeClass("glyphicon-menu-down");
            $('#system-icon').addClass("glyphicon-menu-up");
        }
        else if ($('#system-icon').hasClass("glyphicon-menu-up")) {
            $("#systems").html("");
            $('#system-icon').removeClass("glyphicon-menu-up");
            $('#system-icon').addClass("glyphicon-menu-down");
        }
    }
    function GameDisplay() {

        if ($('#gameInput').val().length > 2) {


            $.ajax({
                type: "POST"
                , url: "Filter"
                , data: JSON.stringify({ filterText: $('#gameInput').val(), selected: uncheckedSystems })
                , contentType: 'application/json;'
                , success: function (result) {
                    $("#tblGamesG").html(result);
                }
            });
        }
        else {
            $.ajax({
                type: "POST"
                , url: "Filter"
                , data: JSON.stringify({ filterText: "", selected: uncheckedSystems })
                , contentType: 'application/json;'
                , success: function (result) {
                    $("#tblGamesG").html(result);
                }
            });
        }
    }
</script>